<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners List</title>
</head>
<body>
<!--/*thymesVar id="owner" type="com.springframwork.petclinicdata.model.Owner"*/-->
<h2 th:text="'Owners'">Owners</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px">Id</th>
        <th style="width: 200px">Firstname</th>
        <th style="width: 120px">Lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner: ${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.firstName}">John</td>
        <td th:text="${owner?.lastName}">Doe</td>
    </tr>
    </tbody>
</table>
</body>
</html>